* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: 500;
    
}

li, a, button{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;

}

/* Navbar */
header{
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem .5rem 1rem;
    padding-bottom: 0;
    background-color: #24252A ;
    height: auto;
    gap: 0rem 1rem;
   

    h1{
        margin-right: auto;
    }
}

#logo {
    display: inline;
    justify-content: start;
}

.logo{
    height: 60px;
    margin-right: auto;
}

#navigation {
    display: flex;
    align-items: center;
    gap: 0rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: #ff5a5a;
}

.img-thumbnail{
    border-radius: 50%; 
    position: center;
    object-fit: cover;
    object-position: center;
    height: 50px;
    width: 50px;
}

/* Buttons */
button{
    padding: 4px 15px;
    background-color: #ff5a5a;
    border: 3px solid #24252a00;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

button:hover{
    background-color: #ff5a5a;
    border: 3px solid white;
}

/* Container Index*/
.container{
    background-image: url(images/adopt.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    border-image-width: 1px;
    border-image-slice: 1 fill;
    border-image-source: linear-gradient(
        rgba(36, 37, 42, 1) 0%,
        rgba(36, 37, 42, 0.95) 10%,
        rgba(36, 37, 42, 0.85) 20%,
        rgba(36, 37, 42, 0.75) 30%,
        rgba(36, 37, 42, 0.65) 40%,
        rgba(36, 37, 42, 0.55) 50%,
        rgba(36, 37, 42, 0.45) 60%,
        rgba(36, 37, 42, 0.35) 70%,
        rgba(36, 37, 42, 0.25) 80%,
        rgba(36, 37, 42, 0.15) 90%,
        rgba(36, 37, 42, 0.05) 95%
    );

    width: 100%;
    align-content: center;
    text-align: center;
    position: relative;
    min-height:calc(100vh - 105px);
        
    h1{
        color: white; 
        margin: 1.5rem;       
    }
}

.editContainer{
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url(./images/pet_entry.jpg);
    background-position: center;
    background-size: cover;
    min-height:calc(100vh - 105px);
    background-attachment: fixed; 
    width: 100%;
    align-content: center;
    text-align: center;
    position: relative;
    min-height:calc(100vh - 105px);

    border-image-width: 1px;
    border-image-slice: 1 fill;
      border-image-source: linear-gradient(
        rgba(36, 37, 42, 1) 0%,
        rgba(36, 37, 42, 0.95) 10%,
        rgba(36, 37, 42, 0.85) 20%,
        rgba(36, 37, 42, 0.75) 30%,
        rgba(36, 37, 42, 0.65) 40%,
        rgba(36, 37, 42, 0.55) 50%,
        rgba(36, 37, 42, 0.45) 60%,
        rgba(36, 37, 42, 0.35) 70%,
        rgba(36, 37, 42, 0.25) 80%,
        rgba(36, 37, 42, 0.15) 90%,
        rgba(36, 37, 42, 0.05) 95%
    );
    

    p{
        margin-left: 1rem;
    }
}

/* Footer */
footer{
    background-color: rgba(255, 90, 90, 1);  
    padding: 0.5rem;
    bottom: 0;
    width: 100%;
}

.footerNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    gap: 2rem;
    
    a:hover{
        color: #24252A;
        text-decoration: underline;
    }
}

/* Grid */
.grid {
    display: grid;
    width: 100%;
    background: linear-gradient(#24252A, #ff5a5a);
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
    min-height:calc(100vh - 100px);
}


.card{
    height: 45vh;
    min-width: 0;
    border-image: 1 fill linear-gradient( rgba(255, 255, 255, 0.001), rgba(255, 255, 255, 0.2),rgba(36, 37, 37, 0.8), rgba(36, 37, 42, 1));
    background-position: center;
    background-size: cover;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.5);   
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.adoption-img {
    display: flex;
justify-content: center;}

.adoption-img img {
    width: 70%;
    position: cover;
    border-radius: 14px;
}

.cardTitle{
    color: #ff5a5a;
    font-size: 1.5rem; 
    text-align: left; 
}

.cardContent{
    color: #ff5a5a;
    margin-bottom: 0.5rem;
    span {
        color: white;
    }
}

.cardBotones {
    gap: 1rem;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    

    button{
        flex: 1;
        padding: 0.2rem 0.2rem;  
        min-width: fit-content;     
    }
        
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1441px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Forms */

.form{
display: flex;
justify-content: center;
align-items: center;
height: auto;

}

.wrapperLogin{
    width: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px) ;
    color: white;
    border-radius: 15px;
    padding: 30px 40px;
    margin: 2rem;
    height: auto;
}

.wrapperLogin h1{
    font-size: 36px;
    text-align: center;
}

.wrapperRegister {
    width: 85%; 
    background: rgba(255, 255, 255, 0.1); 
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    color: white;
    border-radius: 15px;
    padding: 30px 40px;
    margin: 2rem;
    height: auto;

    
}

.wrapperRegister h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 0;
}

.wrapperEdit {
    width: 85%; 
    background: rgba(255, 255, 255, 0.1); 
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    color: white;
    border-radius: 15px;
    padding: 30px 30px;
    height: auto;
    justify-content: center;
    
    .bttn-section{
        margin-top: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: fit-content;

        button{
            background-color: #ff5a5a;
            width: fit-content;
        }
    } 
}

.input-box{
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    position: relative;
    display: flex;
    flex-flow: column;
    text-align: start;
}

.wrapperLogin .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.wrapperRegister .input-box{
    width: 100%;
    height: 50px;
    margin: 15px 0;
    position: relative;
}

.searchWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem 1rem .5rem 1rem;
    background-color: #24252A;
}

.searchWrapper form {
    width: 100%;
}

.searchWrapper .buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;

    button {
        font-size: 12px;
        height: 2.3rem;
        width: auto;
    }
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: spacecenter-between;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 0rem 0rem 0rem 1.5rem;
    width: 100%;    
    height: 2.3rem;
}

.search-input:hover{
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.796);
}

.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0 0.5rem ; 
}

.input-box-date {
    display: flex;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 10px;
    background: transparent;
    height: 50px;
    margin-top: 1rem;
}

.custom-date {
    color: rgba(255, 255, 255, 0.57);
    font-size: 16px;
    margin-right: 10px;
    white-space: nowrap;
}

.input-box-date input[type="date"] {
    appearance: none; /* Remove default styles */
    -webkit-appearance: none; /* Remove default styles in Safari */
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    outline: none; /* Remove outline */
    padding: 5px;
    width: 100%; /* Adjust as necessary */
    cursor: pointer;
}

.input-box textarea{
    appearance: none; /* Remove default styles */
    -webkit-appearance: none; /* Remove default styles in Safari */
    background: transparent;
    color: white;
    font-size: 16px;
    outline: none; /* Remove outline */
    width: 100%; /* Adjust as necessary */
    min-height: auto;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 5px;
}

.input-box input[type="file"] {
    display: none;
}

label.custom-file-upload {
    display: flex;
    align-items: center;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    color: white;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    cursor: pointer;
}

label.custom-file-upload.file-chosen {
    color: white;
}

.input-box input[type="number"]::-webkit-inner-spin-button,
.input-box input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-box input[type="number"] {
    -moz-appearance: textfield;
}


.search-input input[type="text"] {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    flex: 1;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    color: white;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    
}

.input-box select{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    color: white;
    font-size: 16px;
    padding-left: 20px;
    -webkit-appearance: none; /* For Chrome, Safari, and other WebKit browsers */
    -moz-appearance: none;    /* For Firefox */
    appearance: none;    
}

.input-box p.error{
    color: #ff5a5a;
    font-size: 12px;
    text-align: start;
    margin-left: 1rem;
}

.input-box input::placeholder{
    color: white;
    text-align: start;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
    color: white;
}

.wrapperLogin .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a:hover{
    text-decoration: underline;
    color: #ff5a5a;
}

.wrapperLogin .bttn{
    width: 100%;
    height: 45px;
}

.wrapperRegister .bttn-section{

    margin-top: 2rem;

}

.wrapperRegister .bttn{
    width: 100%;
    height: 45px;
}
.wrapperLogin .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapperRegister .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: white;
    text-decoration: none;
}

.register-link p a:hover{
    text-decoration: underline;
    color: #ff5a5a;
}

@media (max-width: 768px) {
    .input-grid {
        grid-template-columns: 1fr; 
        gap: 0.5rem 0; 
    }

    .wrapperRegister h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px; 
        margin-top: 0;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .input-grid {
        grid-template-columns: 1fr 1fr; 
        gap: 0 0.5rem; 
    }
    .searchWrapper {
        flex-wrap: nowrap;
    }

    
}

@media (min-width: 1201px) {
    .input-grid {
        grid-template-columns: 1fr 1fr; 
        gap: 0 0.5rem; 
    }
    .searchWrapper {
        flex-wrap: nowrap;
    }

    
}

/* Details */

.details{
    width: 100%;
    height: 88.8vh;
    border-image: 1 fill linear-gradient( rgba(255, 255, 255, 0.001), rgba(255, 255, 255, 0.002),rgba(36, 37, 37, 0.8), rgba(36, 37, 42, 1));
    background-size: cover;
    background-position: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    padding: 1rem; 
   
}

.pet-name{
    color: #ff5a5a;
    font-size: 1.5rem; 
    text-align: left; 
}

.details-content{
    color: #ff5a5a;
    margin-bottom: 0.5rem;
    span {
        color: white;
    }
}

.detailsBotones {
    gap: 1rem;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: fit-content;

    button{
        flex: 1;
        padding: 0.2rem 0.2rem;
        width: fit-content;
    }
        
}

.alert {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 1rem;
}

#successAlert {
    background-color: #1fae24; /* Green background for success */
    border: 2px solid #01d308; /* Darker green border */
}

#errorAlert {
    background-color: #e94d42; /* Red background for error */
    border: 2px solid #d32f2f; /* Darker red border */
}

/* USERS TABLE */
.userContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(#24252A, #ff5a5a);
    padding: 1.5rem;
    min-height:calc(100vh - 100px);
}


.table {
    width: 90%; 
    background: rgba(255, 255, 255, 0.1); 
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 2rem;
}

.table th {
    color: #ff5a5a;
    font-size: 18px;
    padding: 1rem;
    text-align: center;
}

.table td {
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 1rem;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    
}

.table img{
    border-radius: 50%; 
    position: center;
    object-fit: cover;
    object-position: center;
    width: 5.5rem;
}



